
/* Mixins
==================================================== */

@mixin vendor( $property, $value ) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
	    -ms-#{$property}: $value;
	     -o-#{$property}: $value;
	        #{$property}: $value;
}


@mixin fontface ( $id, $url ) {
	@font-face {
	    font-family: '#{$id}';
	    src: url('#{$url}.eot');
	    src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
	         url('#{$url}.woff') format('woff'),
	         url('#{$url}.ttf') format('truetype'),
	         url('#{$url}.svg##{$id}') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
}

@function fix8_unit_to_px($val) {
	@if $val == auto {
		@return $val;
	}
	@else {
		@if unitless($val) {
			@if $val == 0 { @return $val }
			@else { @return $val * $base-font-size};
		} @else { @return $val};
	}
}

@function fix8_unit_to_rem($val) {
	@if $val == auto {
		@return $val;
	}
	@else {
		@if unitless($val) {
			@if $val == 0 { @return $val }
			@else { @return $val+rem};
		} @else { @return $val};
	}
}

@mixin px-rem($prop, $val...) {
	$n: length($val);
	$i: 1;

	$px-list: ();
	$rem-list: ();

	@while $i <= $n {
		$px-list: append($px-list, fix8_unit_to_px(nth($val, $i)));
		$rem-list: append($rem-list, fix8_unit_to_rem(nth($val, $i)));
		$i: $i + 1;
	}

	#{$prop}: $px-list;
	#{$prop}: $rem-list;
}