/* Constants
==================================================== */

// The body font size
$base-font-size: 16px;

// The breakpoint for collapsing the grid 
$grid-breakpoint: 48.0625em;

// The target output query for ie
$fix-mqs: 62.5em;

// Auto font scaling
$font-scaling: false;